@model DoAnCoSo.Models.SANPHAM

@{
    ViewBag.Title = "Chitietsanpham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÔNG TIN CHI TIẾT SẢN PHẨM</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align:center">
            TÊN SẢN PHẨM:
        </dt>

        <dd style="text-align:center">
            @Html.DisplayFor(model => model.TEN_SP)
        </dd>

        <dt style="text-align:center">
            TÊN DANH MỤC:
        </dt>

        <dd style="text-align:center">
            @Html.DisplayFor(model => model.MaDM)
        </dd>

        <dt style="text-align:center">
            SỐ LƯỢNG:
        </dt>

        <dd style="text-align:center">
            @Html.DisplayFor(model => model.SOLUONG_SP)
        </dd>

        <dt style="text-align:center">
            ẢNH BÌA:
        </dt>

        <dd style="text-align:center">
                <img src="@Url.Content("~/img/sanpham/"+Model.ANHBIA)" width="120px"/>
        </dd>

        <dt style="text-align:center">
            MÔ TẢ:
        </dt>

        <dd style="text-align:center">
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt style="text-align:center">
            ĐƠN GIÁ:
        </dt>

        <dd style="text-align:center">
            @String.Format("{0:0,0}", Model.GIA_SP) VND
        </dd>
    </dl>
</div>
<p>
    
    @Html.ActionLink("Trở về trang quản lý sản phẩm", "Banh")
</p>
